body {
    background-color: #121212;
    color: #ffffff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* configuracion del video de fondo */
#video-fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* configuracion del contenedor de login */
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 340px;
    padding: 10px;
    backdrop-filter: blur(24px) saturate(1.35);
    border: 1px solid rgba(255, 255, 255, .18);
    border-radius: 26px;
}

/* configuracion del titulo */
h1 {
    font-family: "Poppins", sans-serif;
}

/* configuracion del p */
p {
    font-family: "Poppins", sans-serif;
}

/* configuracion del logo */
#logo {
    width: 80px;
    margin-bottom: 20px;
    animation: glow 1.5s ease-i
    n-out infinite;
}

/* configuracion del boton de Spotify */
.btn-spotify {
    position: relative;
    overflow: hidden;
    width: 300px;
    padding: 15px;
    margin: 10px 0;
    border-radius: 50px;
    border: 3px solid transparent;
    font-weight: bold;
    cursor: pointer;
    color: #FFFFFF;
    transition: transform 0.5s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08));
    background-clip: padding-box;
    display: block;
    text-decoration: none;
    text-align: center;
}

.btn-spotify:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)),
        linear-gradient(to right, #4285F4, #EA4335, #FBBC05, #34A853);
    background-clip: padding-box, border-box;
    transform: scale(1.05);
}